*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #63a4ff;
    background-image: linear-gradient(180deg, #63a4ff 0%, #83eaf1 74%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 200px 0 50px 0;
    padding: 20px;
    background-color: aliceblue;
    opacity: 0.8;
    font-size: 3em;
    font-weight: 700;
    border-radius: 2rem;
}

h2 {
    background: lightblue;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
}

li {
    margin: 1em;
    padding-top: 1em;
    list-style-type: none;
    border-bottom: black 2px solid;
    font-size: 1.3em;
    
}

img {
    height: 200px;
    width: 70%;
    border-radius: 1em;
}

.item, .item1, .item2, .item3 {
    height: 100%;
    width: 350px;
    margin: 5px;
    
}

/* container */

.container {
    background: white;
    width: 90%;
    height: 100%;
    padding: 80px 0 80px 0;
    margin-bottom: 100px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    
}

/* flex start */
.f_start {
    display: flex;
    align-items: flex-start;
    margin-bottom: 6em;
    
}

/* flex end */

.f_end {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6em;
   
}

/* space between */

.space_between {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6em;
    
}

/* flex-grow */

.f_grow {
    display: flex;
    margin-bottom: 6em;
    
}

.item1 {
    flex-grow: 10;
}
.item2 {
    flex-grow: 1;
}
.item3 {
    flex-grow: 2;
}

/* align-self */

.align_self {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    
}
/* 
.f_grow, .f_start, .f_end, .space_between, .align_self {
    border: blue 2px solid;  
}
.item, .item1, .item2, .item3 {
    border: red 2px solid;
} */


/* header css */

a {
    text-decoration: none;
}

.heading {
    display: flex;
    width: 100%;
    height: 12vh;
    background-color: #0d579b;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 1vh;
    border-bottom: white solid 3px;
}

.heading-item {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-monocle {
    flex: 1;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
}

#team-name {
    font-size: 40px;
    font-weight: bolder;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 3px white;
    position: relative;
    left: 50px;
}

#monocle-man {
    width: 10vh;
    height: auto;
}

.menu-link {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    margin-left: 75px;
    font-size: 35px;
    -webkit-text-stroke: 1.5px white;
}