*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #63a4ff;
    background-image: linear-gradient(180deg, #63a4ff 0%, #83eaf1 74%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 2em;
    padding: 20px;
    background-color: aliceblue;
    opacity: 0.8;
    font-size: 3em;
    font-weight: 700;
    border-radius: 2rem;
}

img {
    height: 200px;
    width: 100%;
    border-radius: 1em;
}

.item {
    height: 200px;
    width: 350px;
    margin: 5px;
    /* border: black 1px solid; */
}

/* container */

.container {
    background: white;
    width: 80%;
    height: 100%;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}

/* flex start */
.f_start {
    display: flex;
    align-items: flex-start;
    margin: 60px;
}

/* flex end */

.f_end {
    display: flex;
    justify-content: flex-end;
    margin: 60px;
}

/* space between */

.space_between {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

