* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  /* background: linear-gradient(white 2%,#2851f6 2%); */
  background-image: linear-gradient(90deg, rgba(40,81,246,.5) 50%, transparent 50%),
                    linear-gradient(rgba(40,81,246,.5) 50%, transparent 50%);;
  background-size:80px 80px;
  color: black;

}

body header {
  background: white;
  border-radius: 10% 10% 20% 20% / 0% 0% 50% 50% ;
  height: 200px;
  color: white;
  font-family: 'Space Mono', monospace;
  display: block;

}

main header{
  background: none;
}

header h1, header h2, header p{
  color: black;
}

/* Gezicht */
/* 
.face {
  position: absolute;
  background: #ffaa5f;
  width: 150px;
  height: 300px;
  z-index: 1;
}
.hair {
  position: absolute;
  top: -20px;
  width: 200px;
  height: 80px;
  background: #FAD799;
  border-radius: 27% 60% 69% 16% / 0% 33% 37% 0% ;
  
}

.eye {
  position: absolute;
  background: white;
  width: 50px;
  height: 30px;
  border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
  top: 90px;
  left: 90px;
}

.eyebrow {
  position: absolute;
  background: #FAD799;
  height: 10px;
  width: 50px;
  transform: rotate(30deg);
  top: -10px;
  left: 10px;
}

.eyeball {
  position: absolute;
  width: 17px;
  height: 17px;
  background: darkolivegreen;
  border-radius: 50%;
  left: 28px;
  top: 13px;
}

.iris {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 4px;
}

.nose {
  position: absolute;
  width: 20px;
  height: 40px;
  background: #ffaa5f;
  right: -8px;
  bottom: 125px;
  border-radius: 10% 84% 14% 10% / 0% 91% 10% 0% ;
  transform: rotate(-10deg);
}

.upper_lip {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffaa5f;
  right: -8px;
  bottom: 100px;
  border-radius: 0% 100% 100% 0% / 30% 50% 50% 70% ;
}

.bottom_lip {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffaa5f;
  right: -8px;
  bottom: 80px;
  border-radius: 0% 100% 100% 0% / 30% 50% 50% 70% ;
}

.chin {
  position: absolute;
  width: 80px;
  height: 30px;
  background: #ffaa5f;
  bottom: 50px;
  right: 0;
  z-index: 1;
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100% ;
}

.neck {
  position: absolute;
  width: 100px;
  height: 80px;
  background: #5f0a87;
  bottom: 0;
  right: 0;
  border-radius: 100% 0% 100% 0% / 100% 100% 0% 0% ;

}

.mouth {
  position: absolute;
  width: 30px;
  height: 30px;
  background: red;
  right: 0;
  bottom: 90px;
  z-index: -1;
}

.cheek {
  position:absolute;
  right:0;
  bottom: 0;
  z-index: 1000;
}

.face:hover .cheek{
  
  transform: rotateX(50deg) translateY(50px);
  transition: 1s;
}

.face:hover .eyebrow{
  transform: rotate(40deg) scale(1.4);
  transition: 1s;
}

.face:hover .article{
  animation-name: moveLeftToRight;
  
  
}

@keyframes moveLeftToRight {
  0%   { left: -100px; }
  100% { left: 50%; }
} */


/* Menu */

main {
  margin: 5% 10%;
  padding: 4em;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: black 2px solid;
  box-shadow: 5px 6px;
}

section header h2, section header p {
  font-size: 1.8em;
}

section header {
  height: 100px;
}

/* section header::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 10px;
  background: blue;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
} */

section header:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

article  {
  
  height: 100px;
  padding: 10px 20px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: rgba(40,81,246,.4) 3px solid;
  transform-style: preserve-3d;
}

article .side {
  position: absolute; 
  bottom: 15px;
  left: 0;
  height: 20%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  backface-visibility: hidden;
}

article .side.front {
  background: white;
}

article:hover .side.front {
  transform: perspective(500px) rotateY(180deg);
}

article .side.back {
  background: white;
  color: black;
  transform: perspective(500px) rotateY(180deg);
}

article:hover .side.back {
  transform: perspective(500px) rotateY(360deg);
}


/* article:hover {

  cursor: pointer;
  padding: 25px 50px;
  font-size: 1.3em;
  color: #fff;
  background: transparent;
  background-image: url(https://web.archive.org/web/20160312084140im_/http://splatoon.nintendo.com/assets/img/nav-bg-fill-blue.png?1443460871);
  background-position: 200% 100%;
  transition: 1s ease-out;
} */

article h3, article p, article div {
  width: 100%;
}

details    {
  padding: 1em;
 
}

details:active {
  outline: none;
}

summary  {
  cursor: pointer;
  outline: none;
}

summary::-webkit-details-marker {
  background-image: url(./img/angle-double-down-solid.svg);
  height: 25px;
  width: 15px;
  color: transparent;
}

details[open] summary::-webkit-details-marker {
  background-image: url(./img/angle-double-up-solid.svg);  
}

details header:hover {
  animation: bounce 1.5s ease-in-out;
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-10px);
  }
}
